html {
    background-color: black;
    color: white;
}

body {
    font-family: Roboto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.row
{
    display: flex;
    flex-basis: 450px;
    padding: 0px 15%;
    box-sizing: border-box;
}

#header, #footer
{
    flex-basis: 100px;
    background: #1F2937;
}

#header
{
    box-sizing: border-box;
    padding-top: 20px;
    gap: 20px;
}

.header_logo
{
    font-weight: bold;
    margin-right: auto;
    font-size: 24px;
}

.header_link a
{
    color: #E5E7EB;
}

#row_one
{
    background: #1F2937;
    display: flex;
    flex-basis: 400px;
    gap: 10px;
}

.paragraph_block
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 100%
}

.paragraph_title
{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.paragraph_text
{
    font-size: 18px;
    color: #E5E7EB;
}

.sign_up_button
{
    background-color: #3882F6;
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.large_image
{
    background-color: grey;
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%
}

#row_two
{
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.information_title
{
    padding-top: 40px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.images
{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
}

.two_pair
{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;

}

.pair
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.square_image
{
    background-color: white;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 25px;
    border-width: thick;
    width: 150px;
    height: 150px;

}

.subtext
{
    width: 150px;
    text-align: center;
}

#row_three
{
    background: #E5E7EB;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 25%;
}

.quote
{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quoter
{
    color: black;
    font-weight: bold;
    align-self: flex-end;
    font-size: 24px;
}

#row_four
{
    background: white;
    color: black;
    flex-basis: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign_up_box
{
    display: flex;
    background: #3882F6;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    flex-basis: 100%;
    border-radius: 25px;
    color: #F9FAF8;
    justify-content: space-around;
}

.sign_up_text_column
{
    display: flex;
    flex-direction: column;
}

.sign_up_title
{
    font-weight: bold;
    font-size: 24px;
}

.sign_up_text
{
    color: #E5E7EB;
}

#white_border
{
    border-color: white;
    border-style: solid;
}

#footer
{
    display: flex;
    justify-content: center;
    align-items: center;
}

